<section class="custom-grid">

<h2>{{ section.settings.title }}</h2>


<div class="grid">

{% for block in section.blocks %}

<div class="card">

<img 
src="{{ block.settings.image | image_url }}"
width="300"
>

<h3>
{{ block.settings.title }}
</h3>

</div>


{% endfor %}

</div>

</section>


{% schema %}
{
"name":"Custom Grid",

"settings":[

{
"type":"text",
"id":"title",
"label":"Grid Title"
}

],

"blocks":[

{
"type":"card",
"name":"Card",

"settings":[

{
"type":"image_picker",
"id":"image",
"label":"Image"
},

{
"type":"text",
"id":"title",
"label":"Title"
}

]

}

],

"presets":[
{
"name":"Custom Grid"
}
]

}
{% endschema %}