<section class="tisso-vision-section">
    <div class="tisso-container">

        <div class="tisso-header">
            <h2>{{ section.settings.heading }}</h2>
        </div>

        <div class="tisso-grid">
            
        </div>
    </div>
</section>

{%  schema %}
{
    "name": "Tisso Grid",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Tisso vison in the wild"
        }
    ]
}
{% endschema %}






